<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Andrew Milne</a></li>
	        		<li><a href="/blog">Projects</a></li>
							<li><a href="https://www.linkedin.com/in/apmilne/">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:milnehouse@gmail.com">Email</a></li>
							<li><a href="https://www.linkedin.com/in/apmilne/">LinkedIn</a></li>
					</ul>
			</footer>
		</body>
	</html>
